<div class="task">
  <p>
    <strong>Task ID:</strong>
    <%= task.id %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= link_to_unless_current task.title, task %>
  </p>
  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>
  <p>
    <strong>Priority:</strong>
    <%= task.priority %>
  </p>
  <p>
    <strong>USER Email:</strong>
    <%= task.user.email %>
  </p>
</div>
<br>
<br>
